{% extends 'base.html' %}

{% block title %}
	{{ name }} {{ last_name }}
{% endblock %}

{% block content %}
	<div id = "fh5co-main" class = "container" style = "margin-top: 5%;">
		<div style="padding-left: 2%;">
			<h1>Hi, {{ name }} {{ last_name }}</h1>
			<p>Looks like its your first time here!
			<br>We will guide you through setting up your system in no time.</p>
			<h4>First thing:</h4>
			<form method="post" action = "/setup_farm" class = "row">
				<label class = "col-sm-4 col-md-3">1. Set up your Farm</label>
				<input type = "submit" name="add_farm" value = "Set up Farm" class = "btn btn-primary">
			</form>
			<form method="post" action = "/setup_ass" class ="row">
				<label class = "col-sm-4 col-md-3">2. Set up you Agrimodule</label>
				<input type = "submit" name = "add_ass" value ="Set up ASS" class = "btn btn-primary">
			</form>
			<!-- <a href="{{ url_for('dashboard') }}" class="btn btn-primary btn-outline">Set up Farm</a> -->
		</div>
	</div>
{% endblock %}

