{% extends 'base.html' %}

{% block title %}
	{{ name }} {{ last_name }}
{% endblock %}

{% block content %}
<div id="fh5co-main" class="container" style="margin-top: 5%;">
	<div class="row" style="padding-left: 2%;">
		<h1>Hi, {{ name }} {{ last_name }}</h1>
		<h4>You currently are in your dashboard</h4>
		<h4>Set up your first farm to get started!</h4>
		<a href="{{ url_for('dashboard') }}" class="btn btn-primary btn-outline">Set up Farm</a>
	</div>
</div>

{% endblock %}

<!-- <form method="post" action="/dashboard">
	<label>Username:</label>
	<input type="text" name="username" id="username">
	<label>Password:</label>
	<input type="password" name="password" id="password">
	<input type="submit" name="">
</form> -->