{% extends 'base.html' %}
{% from "_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
	AgTech
{% endblock %}

{% block content %}
	<div id = "fh5co-main" class = "container" style = "margin-top: 5%;">
		<div style="padding-left: 2%;">
			<h1>Create your farm</h1>
			<p>1. Give it a name</p>
			<p>2. Where is it</p>
			<p>3. how big is the area to cultivate - m2</p>
			<p>4. Up to you</p>
			<form method="POST" action="/farm">
				{{ form.csrf_token }}
				<div class="form-group">
					{{ render_field_with_errors(form.name, class="form-control") }}
				</div>
				<div class="form-group">
					{{ render_field_with_errors(form.location, class="form-control") }}
				</div>
				<div class="form-group">
					{{ render_field_with_errors(form.cultivation_area, class="form-control") }}
				</div>
				<div class="form-group">
					{{ render_field_with_errors(form.cultivation_process, class="form-control") }}
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary btn-md" value="Create Farm!">
				</div>
			</form>
		</div>
	</div>
{% endblock %}