{% extends 'base.html' %}

{% block title %}
	{{ current_user.name }}
{% endblock %}

{% block user_home_active %}
fh5co-active
{% endblock %}

{% block content %}
	<div id = "fh5co-main" class = "container" style = "margin-top: 5%;">
		<div style="padding-left: 2%; text-align: left;">
			<h1>Home</h1>
			<hr>
			<h1>Welcome back, {{ user.name }}!</h1>
			<p>Your {{ default_farm.farm_name }}'s farm awaits for you!</p>
			<div> 
			    <hr>
			    <p>Farmer links</p>
			    <ul>
					<li><a href="{{ url_for('user_crop_planning') }}" style="color:#16B6A5;">Crop planning</a><br></li>
					<li><a href="{{ url_for('user_resources') }}" style="color:#16B6A5;">Resources</a><br></li>
					<li><a href="{{ url_for('user_crop_analyzer') }}" style="color:#16B6A5;">Crop analyzer</a><br></li>
					<li><a href="{{ url_for('user_health_analyzer') }}" style="color:#16B6A5;">Health analyzer</a><br></li>
			    </ul>
			</div>
			
			<div>
                <hr>
        		<p>General links</p>
                <ul>
					<li><a href="{{ url_for('user_agrimodule') }}" style="color:#16B6A5;">Agrimodule</a><br></li>
					<li><a href="{{ url_for('user_agripump') }}" style="color:#16B6A5;">Agripump</a><br></li>
					<li><a href="{{ url_for('user_crop_status') }}" style="color:#16B6A5;">Crop status</a><br></li>
					<li><a href="{{ url_for('user_market') }}" style="color:#16B6A5;">Market</a><br></li>
					<li><a href="{{ url_for('user_weather') }}" style="color:#16B6A5;">Weather</a><br></li>
					<li><a href="{{ url_for('user_alerts') }}" style="color:#16B6A5;">Alerts</a><br></li>
					<li><a href="{{ url_for('user_profile') }}" style="color:#16B6A5;">Profile</a><br></li>
                </ul>
        	</div>




       		<!-- HOME -->
    		<br>
    		<div class="container">

    			<!-- FIRST ROW (weather, farm name and reosurce day container) -->
    			<div class="row">
    				<div class="col-md-3" style="">
    					<a href="{{ url_for('user_weather') }}">
	    					<div class="row" style="border: 2px solid black; border-radius: 5%; background-color: lightgray; padding: 10px;">
								<div class="col-md-3">
									<div>
										<img src="{{ url_for('static', filename='uploads/cloud.png') }}" alt="weather icon">
									</div>
								</div>
								<div class="col-md-4">
									<h2>14<sup>°</sup></h2>
									<h2>68<sup>%</sup></h2>
								</div>
								<div class="col-md-5">
									<h2>Berlin</h2>
									<h4>LAT: 26</h4>
									<h4>LON: 25</h4>
									<h2>22:54</h2>
								</div>
							</div>
						</a>
    				</div>

    				<div class="col-md-1"></div>
    				
    				<div class="col-md-4 home-weather" style=" text-align: center; border: 2px solid black; border-radius: 5%; background-color: lightgray; padding: 10px;">
    					<h2>{{ default_farm.farm_name }}'s Farm</h2>
    				</div>
    				
    				<div class="col-md-1"></div>
    				
    				<div class="col-md-3"style="">
    					<a href="{{ url_for('user_alerts') }}">
    						<div class="row">
								<div class="col-md-12" style="border: 2px solid black; border-radius: 5%; background-color: lightgray; padding: 4px;">
									<h4>Water	</h4>
								</div>
								<div class="col-md-12" style="border: 2px solid black; border-radius: 5%; background-color: lightgray; padding: 4px;">
									<h4>Sun</h4>
								</div>
								<div class="col-md-12" style="border: 2px solid black; border-radius: 5%; background-color: lightgray; padding: 4px;">
									<h4>Fertlizer</h4>
								</div>
							</div>
						</a>
    				</div>

    			</div>
    			<hr>
    			<!-- END FIRST ROW (weather, farm name and reosurce day container) -->



    			
    			<!-- SECOND ROW - FIELD DATA -->
    			<div class="row">

    				{% for field in fields %}
    				
	    				<!-- FIELD NUM n -->
	    				<div class="col-md-4"  style="border: 2px solid black; border-radius: 5%; background-color: white; padding: 10px;">
	    					<a href="{{ url_for('user_crop_status') }}">
	    						<h2>{{ field.field_name }}</h2>
	    					</a>
	    					<hr>
	    					<div class="row">
    							{% for crop in field.crops %}
			        				<div class="col-md-6">
			        					<h4>{{ crop._name|capitalize }} {# {{ crop._variety|capitalize }} #}</h4>
			        				</div>
			        				<div class="col-md-6">
			        					<h4>{{ (( (timenow - field.field_cultivation_start_date).days / (crop._dtm + crop._dtg) ) * 100)|round(1, 'floor') }} %</h4>
			        				</div>
		        				{% endfor %}
	    					</div>

	    					<div class="row">
	    						<div class="col-md-8">
	    							<sup style="margin:0; padding: 0;">AgModule</sup>
	    							<a href="{{ url_for('user_agrimodule') }}">
			    						<h3>{{ field.agrimodule.name }}</h3>
			    					</a>
	    						</div>
	    						<div class="col-md-3">
	    							<sup>LAT: {{ field.agrimodule.lat }} LON: {{ field.agrimodule.lon }}</sup>
	    						</div>
	    					</div>
			    					
			   
	    					
	    					

	    					{% for agrisensor in field.agrimodule.agrisensors %}
	    						<div class="row">
	    							<div class="col-md-12">
	    								<sup style="margin:0; padding: 0;">AgSensor</sup>
	    							</div>
	    							<div class="col-md-8">
	    								<a href="{{ url_for('user_agrimodule') }}">
				    						<h3 style="text-align: center;">{{ agrisensor.identifier }}</h3>
				    					</a>
	    							</div>
	    							<div class="col-md-3">
	    								<sup>LAT: {{ agrisensor.lat }} LON: {{ agrisensor.lon }}</sup>
	    							</div>
	    						</div>
							{% endfor %}
							
							{% for agripump in field.agrimodule.agripumps %}

								<div class="row">
									<div class="col-md-12">
										<sup style="margin:0; padding: 0; color: blue;">AgPump</sup>
	    							</div>
	    							<div class="col-md-8">
	    								<a href="{{ url_for('user_agripump') }}">
				    						<h3 style="text-align: center;">{{ agripump.identifier }}</h3>
				    					</a>
		    							
		    							<sup><h4 style="text-align: center;">
			    							<sup>{{ pump_db.filter_by(id = agripump.pump_id).first().pump_name }}
			    							<br>
			    							{{ pump_db.filter_by(id = agripump.pump_id).first().pump_brand }}</sup>
			    						</h4></sup>
	    							</div>
	    							<div class="col-md-3">
	    								<sup>LAT: {{ agripump.lat }} LON: {{ agripump.lon }}</sup>
	    								<br>
										{% if agripump.status == 1: %}
											<h4 style="color: green;">ON</h4>
										{% else %}
											<h4 style="color: red;">OFF</h4>
										{% endif %}
	    							</div>
	    						</div>

							{% endfor %}

	    				</div>

    				{% endfor %}

    			</div>
    			<!-- END SECOND ROW - FIELD DATA -->

    			
    			
    			
    			<!-- END EACH ASS -->
    		</div>
    		<hr>
    		<!-- END HOME -->

		</div>
	</div>
{% endblock %}

