<!DOCTYPE html>
<html>
<head>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

	<!-- PAGE CONTENT -->
    <section>
    	<div class="container">



			<h5>My Farms</h5>
			<table class="responsive-table highlight centered">
				<thead>
				<tr class="grey-text">
					<th>Default</th>
					<th>Farm Name</th>
					<th>Farm Area</th>
					<th>Location</th>
					<th>Options</th>
				</tr>
				</thead>

		        <tbody>
		            <tr class="grey lighten-3">
		                <td>
		                	<label><input id="indeterminate-checkbox" type="checkbox" checked="checked" /><span></span></label>
		                </td>
		                <td><h6>Aquaponics</h6></td>
		                <td><h6>1500.0 m<sup>2</sup></h6></td>
		                <td><h6>Carora</h6></td>
		                <td>
		                	<i class="material-icons circle">add</i> 
		                	<i class="material-icons circle">delete</i> 
		                	<i class="material-icons circle">edit</i> 
		                </td>
		            </tr>
		            <tr class="white-text grey lighten-1">
		                <td>Crop</td>
		                <td>Field Area</td>
		                <td>Progress</td>
		                <td>Agrimodule</td>
		                <td>
		                </td>
		            </tr>
		            <tr>
		                <td><h6>Plum</h6></td>
		                <td><h6>350.0 m<sup>2</sup></h6></td>
		                <td><h6>15.5 %</h6></td>
		                <td><h6>Carora System</h6></td>
		                <td>
		                	<i class="material-icons circle">delete</i> 
		                	<i class="material-icons circle">edit</i> 
		                </td>
		            </tr>
		        </tbody>
	        </table>

	           
		    <br><br>
	        <h5>My Agrimodules</h5>
			<table class="responsive-table highlight centered">
				<thead>
				<tr class="grey-text text-lighten-1">
					<th>System Name</th>
					<th>Farm</th>
					<th>Field</th>
					<th>Field Area</th>
					<th>Options</th>
				</tr>
				</thead>
   
		        <tbody>
		            <tr class="grey lighten-3">
		                <td><h6>Carora System</h6></td>
		                <td><h6>Aquaponics</h6></td>
		                <td><h6>Plum</h6></td>
		                <td><h6>125.0 m<sup>2</sup></h6></td>
		                <td>
		                	<i class="material-icons circle">add</i> 
		                	<i class="material-icons circle">delete</i> 
		                	<i class="material-icons circle">edit</i> 
		                </td>
		            </tr>
		            <tr class="white-text grey lighten-1">
		                <td>Type</td>
		                <td>Identifier</td>
		                <td>Lat & Lon</td>
		                <td>Batt</td>
		                <td>
		                </td>
		            </tr>
		            <tr>
		                <td><i class="material-icons circle">router</i> </td>
		                <td><h6>Perico 2000</h6></td>
		                <td><h6>20.5 34.3</h6></td>
		                <td><h6>95 %</h6></td>
		                <td>
		                	<i class="material-icons circle">delete</i> 
		                </td>
		            </tr>
		            <tr class="white-text grey lighten-1">
		                <td>Type</td>
		                <td>Identifier</td>
		                <td>Lat & Lon</td>
		                <td>Pump</td>
		                <td>
		                </td>
		            </tr>
		            <tr>
		                <td><i class="material-icons circle">format_color_fill</i></td>
		                <td><h6>Perico 2001</h6></td>
		                <td><h6>23.5 24.3</h6></td>
		                <td><h6>East Pump</h6></td>
		                <td>
		                	<i class="material-icons circle">delete</i>
		                	<i class="material-icons circle">edit</i>
		                </td>
		            </tr>
		        </tbody>
	        </table>

		</div>
	</section>




	<!-- ENDS PAGE CONTENT -->
	<!--JavaScript at end of body for optimized loading-->
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>