{% extends 'base.html' %}

{% block title %}
	Agrimodule
{% endblock %}

{% block user_agrimodule_active %}
fh5co-active
{% endblock %}

{% block content %}
<div id = "fh5co-main" class = "container" style = "margin-top: 5%;">
	<div style="padding-left: 2%; text-align: left;">
    <h1>Agrimodule</h1>
	<div>
        <hr>
        <p>General links</p>
        <ul>
          <li><a href="{{ url_for('home') }}" style="color:#16B6A5;">Home</a><br></li>
          <li><a href="{{ url_for('user_weather') }}" style="color:#16B6A5;">Weather</a><br></li>
          <li><a href="{{ url_for('user_crop_status') }}" style="color:#16B6A5;">Crop status</a><br></li>
          <li><a href="{{ url_for('user_agripump') }}" style="color:#16B6A5;">Agripump</a><br></li>

        </ul>
	</div>

</div>

{% endblock %}