{% extends 'base.html' %}

{% block title %}
	Crop status
{% endblock %}

{% block user_crop_status_active %}
fh5co-active
{% endblock %}

{% block content %}
<div id = "fh5co-main" class = "container" style = "margin-top: 5%;">
	<div style="padding-left: 2%; text-align: left;">
    <h1>Crop status</h1>
	<div>
        <hr>
        <p>General links</p>
        <ul>
          <li><a href="{{ url_for('home') }}" style="color:#16B6A5;">Home</a><br></li>
          <li><a href="{{ url_for('user_agrimodule') }}" style="color:#16B6A5;">Agrimodule</a><br></li>
          <li><a href="{{ url_for('user_agripump') }}" style="color:#16B6A5;">Agripump</a><br></li>
          <li><a href="{{ url_for('user_alerts') }}" style="color:#16B6A5;">Alerts</a><br></li>
        </ul>
	</div>

  <div>
        <hr>
        <p>Crop information</p>
        <ul>
          <li>Variety:              {{ crop._variety }}</li>
          <li>Name:                 {{ crop._name }}</li>
          <li>Area cultivated:      {{ field.cultivation_area / 10000 }} m<sup>2</sup></li>
          <li># of plants:          {{ calc_values['num_of_plants'] }}</li>
          <li>Start cultivation:    {{ field.cultivation_start_date }}</li>
          <li>Finish cultivation:   {{ field.cultivation_finish_date }}</li>
        </ul>
  </div>

  <div>
        <hr>
        <p>Resources status</p>
        <ul>
          <li><i>Water:                Ok</i></li>
          <li><i>Fertilizer:           ~Ok</i></li>
          <li><i>Radiation:            Ok</i></li>
          <li><i>Status icon:          Icon</i></li>
        </ul>
  </div>

  <div>
        <hr>
        <p>Time / Yield</p>
        <ul>
          <li>Time</li>
          <li>Cycle:                {{ calc_values['cycle_days'] }} days</li>
          <li>So far:               {{ calc_values['cycle_days_so_far'] }} days</li>
          <li>Yield</li>
          <li>Projected:            {{ field._projected_yield / 1000 }} kg</li>
          <li><i>So far:               1,120 kg</i></li>
        </ul>
  </div>

</div>

{% endblock %}