{% extends 'base.html' %}

{% block title %}
	Manage Farms
{% endblock %}

{% block user_farms_active %}
fh5co-active
{% endblock %}

{% block content %}
	<!-- MAIN ONE -->
	<div id = "fh5co-main" class = "container" style = "margin-top: 5%;">
		<!-- MAIN TWO -->
		<div style="padding-left: 2%; text-align: left;">
			
			<!-- HEADER -->
			<h1>My Farms & My Agrimodule Systems</h1>
			<hr>
			<h1></h1>
			<p></p>			
			<!-- END HEADER -->

			<!-- GENERAL LINKS -->
			<div>
        		<h4>Manage farms, fields & agrimodule systems</h4>
                <ul>
					<li><a href="{{ url_for('home') }}" style="color:#16B6A5;">Home</a></li>
					<li><a href="{{ url_for('welcome_set_farm') }}" style="color:#16B6A5;">New farm</a></li>
					<li><a href="{{ url_for('welcome_set_sys') }}" style="color:#16B6A5;">New ASS</a></li>
					<li><a href="{{ url_for('welcome_set_sys') }}" style="color:#16B6A5;">Add AgriSensor/AgriPump</a></li>
                </ul>
        	</div>
        	<hr>
        	<!-- END GENERAL LINKS -->


			<!-- BODY -->
        	<div>

        		






        		<!-- LIST OF FARMS & FIELDS -->
        		<br>
        		<div class="container">

        			<h2>List of my farms</h2>
        			<!-- FARM TABLE TITLES -->
        			<div class="row">
        				<div class="col-md-1">
        					<sup>Main</sup>
        				</div>
        				<div class="col-md-2">
							<sup>Location</sup>
        				</div>
        				<div class="col-md-2">
							<sup>Farm name</sup>
        				</div>
        				<div class="col-md-3">
        					<sup>Farm area</sup>
        				</div>
        			</div>
        			<!-- END FARM TABLE TITLES -->

        			<!-- EACH FARM -->
        			{% for farm in farms: %}
	        			<!-- EACH FARM DATA -->
	        			<hr>
	        			<div class="row">
	        				<div class="col-md-1">
	        					{% if farm._default: %}
	            					<input type="checkbox" onclick="return false;" checked>
	            				{% else %}
	            					<input type="checkbox" onclick="return false;">
								{% endif %}
								<a href="{{ url_for('user_farm_default', farm_id=farm.id) }}" style="color:gray; font-size: 70%;">default</a>

	        				</div>
	        				<div class="col-md-2">
	        					<h3>{{ farm.farm_location }}</h3>
	        				</div>
	        				<div class="col-md-2">
	        					<h3>{{ farm.farm_name }}</h3>
	        				</div>
	        				<div class="col-md-3">
	        					<h3>{{ farm.farm_area / 10000 }} m<sup>2</sup></h3>
	        				</div>
	        				<div class="col-md-4">
	        					<a href="{{ url_for('user_new_crop', farm_id=farm.id) }}" class="btn btn-primary btn-sm">new crop</a>
								<a href="{{ url_for('user_edit_farm', farm_id=farm.id) }}" class="btn btn-default btn-sm">edit</a>
								<a href="{{ url_for('user_delete_farm', farm_id=farm.id) }}" class="btn btn-danger btn-sm">delete</a>
	        				</div>
	        			</div>
	        			<br>
	        			<!-- END EACH FARM DATA -->

	        			<!-- FIELD TABLE TITLES -->
	        			<div class="row">
	        				<div class="col-md-offset-1 col-md-2">
	        					<sup>Field area</sup>
	        				</div>
	        				<div class="col-md-1">
								<sup>Type</sup>
	        				</div>
	        				<div class="col-md-1">
								<sup>Crop</sup>
	        				</div>
	        				<div class="col-md-1">
	        					<sup>Progress</sup>
	        				</div>
	        				<div class="col-md-2">
	        					<sup>ASS</sup>
	        				</div>
	        			</div>
	        			<!-- END FIELD TABLE TITLES -->

	        				<!-- EACH FIELD OF EACH FARM -->
		        			{% for field in farm.fields.all(): %}
		        				<div class="row">

			        				<div class="col-md-offset-1 col-md-2">
			        					<h4>{{ field.field_cultivation_area / 10000 }} m<sup>2</sup></h4>
			        				</div>
			        				<div class="col-md-1">
			        					<h4>{{ field.field_cultivation_type|capitalize }}</h4>
			        				</div>

			        				{% for crop in field.crops.all() %}
				        				<div class="col-md-1">
				        					<h4>{{ crop._name|capitalize }} {# {{ crop._variety|capitalize }} #}</h4>
				        				</div>
				        				<div class="col-md-1">
				        					<h4>{{ (( (timenow - field.field_cultivation_start_date).days / (crop._dtm + crop._dtg) ) * 100)|round(1, 'floor') }} %</h4>
				        				</div>
				        				<div class="col-md-2">
				        					{% if field.agrimodule.identifier is not none: %}
												<h4>{{ field.agrimodule.identifier }}</h4>
						                    {% endif %}
						                </div>
				        				<div class="col-md-4">
				        					<a href="{{ url_for('user_edit_crop', field_id=field.id) }}" class="btn btn-default btn-sm">edit</a>
											<a href="{{ url_for('user_delete_crop', field_id=field.id) }}" class="btn btn-danger btn-sm">delete</a>
				        				</div>
			        				{% endfor %}

		        				</div>
		        			{% endfor %}
		        			<!-- END EACH FIELD OF EACH FARM -->
        			
        			{% endfor %}
        			<!-- END EACH FARM -->
        		</div>
        		<hr>
        		<!-- END LIST FARMS & FIELDS -->











        		<!-- LIST OF ASS -->
        		<br>
        		<div class="container">

        			<h2>List of my agrimodules smart systems</h2>
        			<!-- ASS TABLE TITLES -->
        			<div class="row">
        				<div class="col-md-2">
        					<sup>Name</sup>
        				</div>
        				<div class="col-md-2">
							<sup>Identifier</sup>
        				</div>
        				<div class="col-md-2">
							<sup>Farm</sup>
        				</div>
        				<div class="col-md-2">
        					<sup>Field</sup>
        				</div>
        			</div>
        			<!-- END ASS TABLE TITLES -->

        			<!-- EACH ASS -->
        			{% for agrimodule in agrimodules: %}
	        			<!-- EACH ASS DATA -->
	        			<hr>
	        			<div class="row">
	        				<div class="col-md-2">
	        					<h3>{{ agrimodule.name }}</h3>
	        				</div>
	        				<div class="col-md-2">
	        					<h3>{{ agrimodule.identifier }}</h3>
	        				</div>
	        				<div class="col-md-2">
	        					{% if field_db.filter_by(id = agrimodule.field_id).first().farm_id: %}
	        						<h3>{{ farm_db.filter_by( id = field_db.filter_by(id = agrimodule.field_id).first().farm_id ).first().farm_name }}</h3>
	        					{% else %}
	        						<h3>Not in Use</h3>
	        					{% endif %}
	        				</div>
	        				<div class="col-md-2">
	        					<h3>{{ field_db.filter_by(id = agrimodule.field_id).first().field_name }}</h3>
	        				</div>
	        				<div class="col-md-4">
	        					<a href="#" class="btn btn-primary btn-sm">add</a>
								<a href="#" class="btn btn-default btn-sm">edit</a>
								<a href="#" class="btn btn-default btn-sm">field</a>
								<a href="#" class="btn btn-danger btn-sm">delete</a>
	        				</div>
	        			</div>
	        			<br>
	        			<!-- END EACH ASS DATA -->

	        			<!-- AGRIPUMP TABLE TITLES -->
	        			<div class="row">
	        				<div class="col-md-offset-1 col-md-2">
	        					<sup>Type</sup>
	        				</div>
	        				<div class="col-md-2">
								<sup>Identifier</sup>
	        				</div>
	        				<div class="col-md-2">
	        					<sup>Pump</sup>
	        				</div>
	        				<div class="col-md-1">
	        					<sup>Status</sup>
	        				</div>
	        			</div>
	        			<!-- END AGRIPUMP TABLE TITLES -->

	        				<!-- EACH AGRIPUMP OF EACH ASS -->
		        			{% for agripump in agrimodule.agripumps.all(): %}
		        				<div class="row">

			        				<div class="col-md-offset-1 col-md-2">
			        					<h4>Agripump</h4>
			        				</div>
			        				<div class="col-md-2">
			        					<h4>{{ agripump.identifier }}</h4>
			        				</div>
			        				<div class="col-md-2">
			        					<h4>{{ agripump.id }}</h4>
			        				</div>
			        				<div class="col-md-1">
			        					<h4>{% if agripump.status: %} {{ 'ON' }} {% else %} {{ 'OFF' }} {% endif %} </h4>
					                </div>
			        				<div class="col-md-4">
			        					<a href="#" class="btn btn-default btn-sm">pump</a>
										<a href="#" class="btn btn-danger btn-sm">delete</a>
			        				</div>

		        				</div>
		        			{% endfor %}
		        			<!-- END EACH AGRIPUMP OF EACH ASS -->


		        		<!-- AGRIPUMP TABLE TITLES -->
	        			<div class="row">
	        				<div class="col-md-offset-1 col-md-2">
	        					<sup>Type</sup>
	        				</div>
	        				<div class="col-md-2">
								<sup>Identifier</sup>
	        				</div>
	        				<div class="col-md-2">
	        					<sup>Lat & Lon</sup>
	        				</div>
	        				<div class="col-md-1">
	        					<sup>Batt</sup>
	        				</div>
	        			</div>
	        			<!-- END AGRIPUMP TABLE TITLES -->

		        			<!-- EACH AGRISENSOR OF EACH ASS -->
		        			{% for agrisensor in agrimodule.agrisensors.all(): %}
		        				<div class="row">

			        				<div class="col-md-offset-1 col-md-2">
			        					<h4>Agrisensor</h4>
			        				</div>
			        				<div class="col-md-2">
			        					<h4>{{ agrisensor.identifier }}</h4>
			        				</div>
			        				<div class="col-md-2">
			        					<h4>{{ agrisensor.lat }} {{ agrisensor.lon }}</h4>
			        				</div>
			        				<div class="col-md-1">
			        					<h4>{{ agrisensor.batt_status }}</h4>
					                </div>
			        				<div class="col-md-4">
										<a href="#" class="btn btn-danger btn-sm">delete</a>
			        				</div>

		        				</div>
		        			{% endfor %}
		        			<!-- END EACH AGRISENSOR OF EACH ASS -->
        			
        			{% endfor %}
        			<!-- END EACH ASS -->
        		</div>
        		<hr>
        		<!-- END LIST OF ASS -->











        	</div>
        	<!-- END BODY -->
        </div>
        <!-- END MAIN TWO -->
    </div>
    <!-- END MAIN ONE -->

{% endblock %}