<!DOCTYPE html>
<html>
<head>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

	<!-- PAGE CONTENT -->
    <section>
    	<div class="container">



			<h3>My Farms</h3>
			<table class="responsive-table highlight ">
				<thead>
				<tr class="grey-text">
					<th>Default</th>
					<th>Farm Name</th>
					<th>Farm Area</th>
					<th>Location</th>
					<th>Options</th>
				</tr>
				</thead>

		        <tbody>
		            <tr>
		                <td>
		                	<label><input id="indeterminate-checkbox" type="checkbox" checked="checked" /><span></span></label>
		                </td>
		                <td><h5>Aquaponics</h5></td>
		                <td><h5>1500.0 m<sup>2</sup></h5></td>
		                <td><h5>Carora</h5></td>
		                <td>
		                	<i class="material-icons circle">add</i> 
		                	<i class="material-icons circle">delete</i> 
		                	<i class="material-icons circle">edit</i> 
		                </td>
		            </tr>
		            <tr class="grey-text">
		                <td></td>
		                <td>Crop</td>
		                <td>Field Area</td>
		                <td>rogress</td>
		                <td>Agrimodule</td>
		                <td>
		                </td>
		            </tr>
		            <tr>
		                <td></td>
		                <td><h5>Plum</h5></td>
		                <td><h5>350.0 m<sup>2</sup></h5></td>
		                <td><h5>15.5 %</h5></td>
		                <td><h5>Carora System</h5></td>
		                <td>
		                	<i class="material-icons circle">delete</i> 
		                	<i class="material-icons circle">edit</i> 
		                </td>
		            </tr>
		        </tbody>
	        </table>


		</div>
	</section>




	<!-- ENDS PAGE CONTENT -->
	<!--JavaScript at end of body for optimized loading-->
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>