{% extends 'base.html' %}

{% block title %}
	Manage Farms
{% endblock %}

{% block user_farms_active %}
fh5co-active
{% endblock %}

{% block content %}
	<div id = "fh5co-main" class = "container" style = "margin-top: 5%;">
		<div style="padding-left: 2%; text-align: left;">
			<h1>My Farms</h1>
			<hr>
			<h1></h1>
			<p></p>			
			
			<div>
        		<h4>Manage farms and fields</h4>
                <ul>
					<li><a href="{{ url_for('home') }}" style="color:#16B6A5;">Home</a></li>
					<li><a href="{{ url_for('welcome_set_farm') }}" style="color:#16B6A5;">New farm</a></li>
					<li><a href="{{ url_for('welcome_set_sys') }}" style="color:#16B6A5;">New ASS</a></li>
					<li><a href="{{ url_for('welcome_set_sys') }}" style="color:#16B6A5;">Add AgriSensor/AgriPump</a></li>
                </ul>
        	</div>

        	<hr>
        	<div>

        		<div class="container">
        		<h2>List of my farms</h2>
        			
        			<div class="row">
        				<div class="col-md-1">
        					<sup>Main</sup>
        				</div>
        				<div class="col-md-2">
							<sup>Location</sup>
        				</div>
        				<div class="col-md-2">
							<sup>Farm name</sup>
        				</div>
        				<div class="col-md-2">
        					<sup>Farm area</sup>
        				</div>
        				<!-- <div class="col-md-5">
        					<sup>Options</sup>
        				</div> -->
        			</div>
        			{% for farm in farms: %}
        			<hr>
        			<!-- EACH FARM -->
        			<div class="row">
        				<div class="col-md-1">
        					{% if farm._default: %}
            					<input type="checkbox" onclick="return false;" checked>
            				{% else %}
            					<input type="checkbox" onclick="return false;">
							{% endif %}
        				</div>
        				<div class="col-md-2">
        					<h3>{{ farm.farm_location }}</h3>
        				</div>
        				<div class="col-md-2">
        					<h3>{{ farm.farm_name }}</h3>
        				</div>
        				<div class="col-md-2">
        					<h3>{{ farm.farm_area / 10000 }} m<sup>2</sup></h3>
        				</div>
        				<div class="col-md-5">
        					<a href="#" class="btn btn-primary btn-sm">new crop</a>
							<a href="#" class="btn btn-default btn-sm">edit</a>
							<a href="#" class="btn btn-danger btn-sm">delete</a>
        				</div>
        			</div>
        			<br>
        			<div class="row">
        				<div class="col-md-offset-1 col-md-2">
        					<sup>Field area</sup>
        				</div>
        				<div class="col-md-1">
							<sup>Type</sup>
        				</div>
        				<div class="col-md-1">
							<sup>Crop</sup>
        				</div>
        				<div class="col-md-1">
        					<sup>Progress</sup>
        				</div>
        				<div class="col-md-1">
        					<sup>ASS</sup>
        				</div>
        				<!-- <div class="col-md-4">
        					<sup>Options</sup>
        				</div> -->
        			</div>
        				<!-- EACH FIELD OF EACH FARM -->
        			{% for field in farm.fields.all(): %}
        				<div class="row">
        				
	        			
	        				<div class="col-md-offset-1 col-md-2">
	        					<h4>{{ field.field_cultivation_area / 10000 }} m<sup>2</sup></h4>
	        				</div>
	        				<div class="col-md-1">
	        					<h4>{{ field.field_cultivation_type|capitalize }}</h4>
	        				</div>

	        				{% for crop in field.crops.all() %}
		        				<div class="col-md-1">
		        					<h4>{{ crop._name|capitalize }} {# {{ crop._variety|capitalize }} #}</h4>
		        				</div>
		        				<div class="col-md-1">
		        					<h4>{{ (( (timenow - field.field_cultivation_start_date).days / (crop._dtm + crop._dtg) ) * 100)|round(1, 'floor') }} %</h4>
		        				</div>
		        				<div class="col-md-1">
		        					{% if field.agrimodulesystem.identifier is not none: %}
										<h4>{{ field.agrimodulesystem.identifier }}</h4>
				                    {% endif %}
				                </div>
		        				<div class="col-md">
		        					<a href="#" class="btn btn-default btn-sm">edit</a>
									<a href="#" class="btn btn-danger btn-sm">delete</a>
		        				</div>
	        				{% endfor %}

	        			
        				</div>
        			{% endfor %}
        			
        			{% endfor %}
        			

        		</div>

{% endblock %}