{% extends 'base.html' %}
{% from "_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
	Edit Pump
{% endblock %}

{% block content %}
<div id = "fh5co-main" class = "container" style = "margin-top: 5%;">
	<div style="padding-left: 2%; text-align: left;">
    <h1>Edit Pump</h1>
	<div>
  <div>
    <hr>
    <form method="POST" action="{{ url_for('user_edit_pump', pump_id = pump_id) }}">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ render_field_with_errors(form.pump_name, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.pump_brand, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.pump_flow_rate, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.pump_head, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.pump_watts, class="form-control") }}
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary btn-md" value="Edit pump">
        </div>
      </form>
      <a href="{{ url_for('user_farms') }}" class="btn btn-secondary btn-sm" style="color:black;">Back</a>
  </div>

  

</div>

{% endblock %}