{% extends 'base.html' %}
{% from "_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
	Farm Add Pump
{% endblock %}

{% block content %}
<div class = "container">
    <h4>add_pump</h4>
	<form method="POST" action="{{ url_for('welcome.add_pump') }}">
		{{ form.csrf_token }}
		{{ render_field_with_errors(form.pump_name) }}
		{{ render_field_with_errors(form.pump_brand) }}
		{{ render_field_with_errors(form.pump_flow_rate) }}
		{{ render_field_with_errors(form.pump_head) }}
		{{ render_field_with_errors(form.pump_watts) }}
		<input type="submit" class="btn btn-primary btn-md" value="Add pump">
	</form>
	<a href="{{ url_for('welcome.install_agrisys') }}" class="btn btn-secondary btn-sm" style="color:black;">Back</a>
</div>
{% endblock %}
